* {
    font-family: "Arial";
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
}

.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header, footer {
    margin: 1em;
}

nav, nav>div {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav {
    flex-direction: column;
}

#home {
    text-wrap: nowrap;
    font-size: 2em;
}

.rounded-button {
    text-decoration: none;
    padding: .5em;
    border: none;
    border-radius: 8px;
    background-color: rgb(230, 7, 7);
    color: white;
}

.rounded-button:hover {
    background-color: rgb(210, 23, 23);
    cursor: pointer;
}

.centered-text {
    text-align: center;
}

button {
    font-size: 1em;
}

@media (min-width: 500px) {
    nav {
        flex-direction: row;
    }
}
