form {
  display: grid;
  gap: 1em;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
}

form>label {
  width: 100%;
  height: fit-content;
}

form>button[type="submit"] {
  margin: 0 auto;
}

form>input[type="text"] {
  height: fit-content;
  width: 80%;
}


@media (min-width: 1000px) {
  form {
    grid-template-columns: repeat(2, 1fr);
    justify-items: normal;
    width: 60%;
  }

  form>label {
    grid-column: 1;
  }

  form>input[type="text"] {
    grid-column: 2;
    width: auto;
  }

  form>button[type="submit"] {
    grid-column: 1 / 3;
    margin: 0 auto;
    align-self: center;
  }

  form>fieldset {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1250px) {
  form {
    width: 50em;
  }
}
