{% extends "layout.html" %}

{% block title %}Calculator{% endblock %}

{% load static %}

{% block files %}
<link rel="stylesheet" href="{% static 'calculator.css' %}">
<link rel="stylesheet" href="{% static 'form.css' %}">
<script src="{% static 'calculator.js' %}" type="module" defer></script>
<script src="{% static 'input.js' %}" type="module" defer></script>
{% endblock %}

{% block body %}
<form>
    <fieldset>
        <legend>Do you know the amount of water or coffee you will be using?</legend>

        <div>
        <!-- w-or-c stands for water or coffee -->
            <label for="water-radio">Water</label>
            <input type="radio" name="w-or-c" id="water-radio" value="water" checked="true">
            <label for="coffee-radio">Coffee</label>
            <input type="radio" name="w-or-c" id="coffee-radio" value="coffee">
        </div>
    </fieldset>

    <label for="input-ratio">Enter the ratio you will be using:</label>
    <input type="text" name="input-ratio" id="input-ratio" class="ratio-input">

    <label for="input-amount">Enter the amount of <span id="w-or-c-label">water</span> you will be using:</label>
    <input type="text" name="input-amount" id="input-amount" class="float-input">

    <button id="calculate" type="submit" class="rounded-button">Calculate</button>
</form>

<p class="result" hidden>The amount of <span id="w-or-c-out" hidden></span> you need is <span class="result"></span></p>
{% endblock %}
