{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% load static %}

{% block files %}
<link rel="stylesheet" href="{% static 'form.css' %}">
{% endblock %}

{% block body %}
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}

    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
    
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">

    <button type="submit" class="rounded-button">Login</button>
</form>
{% endblock %}