p.result {
    display: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

fieldset>legend {
    display: inline-block;
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
}

fieldset>div {
    width: fit-content;
    margin: 0 auto;
    margin-top: 1em;
    float: none;
}

form>button {
    margin: 0 auto;
    align-self: center;
}

@media (min-width: 800px) {
    fieldset>legend {
        width: 48%;
        float: left;
    }

    fieldset>div {
        float: right;
    }

    form>button {
        grid-column: 1 / 3;
    }
}
