p.result {
    display: none;
}

form>input[type="text"] {
    width: 50%;
}

fieldset {
    border: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

fieldset>legend {
    float: left;
    padding: 0;
    width: 50%;
    display: inline-block;
}

fieldset>div {
    display: inline-block;
}
