{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<p>This is {{ request.user.username }}'s dashboard</p>
<a href="{% url 'new_recipe' %}" class="rounded-button">Create a recipe</a>

{% if user_recipes.count > 0 %}
{% for recipe in user_recipes %}
<div class="recipe-preview">
  <h2>
    <a href="{% url 'recipe' recipe_id=recipe.id %}">{{ recipe.title }}</a>
  </h2>
  <a href="{% url 'edit_recipe' recipe_id=recipe.id %}" class="rounded-button">Edit</a>
  <a href="{% url 'delete_recipe' recipe_id=recipe.id %}" class="rounded-button">Delete</a>
</div>
{% endfor %}
{% else %}
<p>You don't have any saved recipes</p>
{% endif %}

{% endblock %}
